<link rel="stylesheet" href="/css/skel.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/materialize.min.css" />

<script>
function addToCart(item)
{
    $.ajax({
        method : "POST",
        url: "/cart/add/",
        data : "itemId="+item,
        }).done(function(data)
        {
            alert(data);
            document.getElementById(item+"-add-cart-button").style.display = "none";
            document.getElementById(item+"-delete-cart-button").style.display = "inline";
        });
}

function deleteFromCart(item)
{
    $.ajax({
        method : "POST",
        url: "/cart/delete/",
        data : "itemId="+item,
        }).done(function(data)
        {
            alert(data);
            document.getElementById(item+"-delete-cart-button").style.display = "none";
            document.getElementById(item+"-add-cart-button").style.display = "inline";          
        });
}

</script>

<nav>
    <div class="nav-wrapper">
    	
        <img src = "/images/logo.png" style="margin-top: 6px;">
        <a href="/" class="brand-logo">SHOP IT!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <%if (user.valid) { %>
            <li><a href="/logout/">Logout</a></li>
            <li><a href="/cart/">My Cart</a></li>
            <li><a href="/checkout/">Checkout</a></li>
            <% } %>
            
            <%if (!user.valid) { %>
            <li><a href="/login/">Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">
<table class="highlight card">
        <thead>
          <tr>
              <th data-field="name"><b>Item Name</b></th>
              <th data-field="price"><b>Item Price</b></th>
              <th data-field="action"><b>Action</b></th>
          </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<items.length; i=i+1) {%>
            <tr>
            <td><%= items[i].name %></td>
            <td>Rs. <%= items[i].price %></td>
            <td>
                <button class = "waves-effect waves-light btn" id = "<%= items[i].id %>-add-cart-button" style = "display:none;" onclick = "addToCart(<%= items[i].id %>)">Add To Cart</button>
                <button class = "waves-effect waves-light btn" id = "<%= items[i].id %>-delete-cart-button" onclick = "deleteFromCart(<%= items[i].id %>)">Delete From Cart</button>
            </td>
            </tr>
        <% } %>
        <tr>
        <td><b>Total Price</b></td>
        <td id = "price"></td>
        <td><button class = "waves-effect waves-light btn" onclick = "window.location.href='/catalogue/'">Add More Items</button>
        </td>
        </tr>
        <tr>
        <td>
        <b>Total Quantity
        </b></td>
        <td id="quantity">
        </td>
        <td><button class = "waves-effect waves-light btn" onclick = "window.location.href='/checkout/'">Confirm Cart</button>
        </td>
        </tr>
       </tbody>
</table>
</div>