<html>
<head>
<link rel="stylesheet" href="/css/skel.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>

<script>
function addToCart(item)
{
	document.getElementById(item+"-status").innerHTML = "Adding..";
	
	$.ajax({
		method : "POST",
		url: "/cart/add/",
		data : "itemId="+item,
		}).done(function(data)
		{
			alert(data);
			document.getElementById(item+"-status").style.visibility = "hidden";
			document.getElementById(item+"-add-cart-button").style.visibility = "hidden";
			document.getElementById(item+"-delete-cart-button").style.visibility = "visible";
		});
}

function deleteFromCart(item)
{
	document.getElementById(item+"-status").innerHTML = "Deleting..";
	
	$.ajax({
		method : "POST",
		url: "/cart/delete/",
		data : "itemId="+item,
		}).done(function(data)
		{
			alert(data);
			document.getElementById(item+"-status").style.visibility = "hidden";
			document.getElementById(item+"-delete-cart-button").style.visibility = "hidden";
			document.getElementById(item+"-add-cart-button").style.visibility = "visible";			
		});
}

</script>

<!-- Header -->
			<div id="header">
			</div>
<!-- End of header -->

<div class="wrapper style2">
		<section class="container">
			<header class="major">
				<h2>ITEMS</h2>
				<span class="byline">dkeh le kya likhna hai</span>
				<%if (user.valid == 1) { %>
				<a href="/cart/"> My Cart</a>
				<a href="/checkout/"> CheckOut</a>
				Username : <%= user.username %>
				Email : <%= user.email %>
				Name : <%= user.first_name %> <%= user.last_name %>
				<span id = "user" style="visibility:hidden;display:inline;"><%= user.user_id %></span>
				<a href="/logout/">LogOut</a>
				<% } %>
			</header>
			
			<% for(var i=0; i<items.length; i=i+3) {%> 
			<div class="row no-collapse-1">
						<section class="4u">
							<a href="/items/<%= items[i].id %>" class="image feature"><img id="image" src="<%= items[i].photo %>" ></a>
							<b>
							<p>Name : <%= items[i].name%></p>
							<p>Description : <%= items[i].description %></p>
							<p>Price : <%= items[i].price %></p>
							<p id ="<%= items[i].id %>-seller" style="visibility:hidden;display:inline;"><%= items[i].seller %></p>
							</b>
							<p id="<%= items[i].id %>-status"></p>
							<%if (items[i].visibility == 1) { %>
								<button id = "<%= items[i].id %>-add-cart-button" onclick = "addToCart(<%= items[i].id %>)">Add To Cart</button>
								<button id = "<%= items[i].id %>-delete-cart-button" style = "visibility:hidden;display:inline;" onclick = "deleteFromCart(<%= items[i].id %>)">Delete From Cart</button>
							<% } %>
							<%if (items[i].visibility == 0) { %>
								<button id = "<%= items[i].id %>-add-cart-button" style = "visibility:hidden;display:inline;" onclick = "addToCart(<%= items[i].id %>)">Add To Cart</button>
								<button id = "<%= items[i].id %>-delete-cart-button" onclick = "deleteFromCart(<%= items[i].id %>)">Delete From Cart</button>
							<% } %>
						</section>
						<%if (items.length > i+1) { %>
						<section class="4u">
							<a href="/items/<%= items[i+1].id %>" class="image feature"><img id="image" src="<%= items[i+1].photo %>" ></a>
							<b>
							<p>Name : <%= items[i+1].name%></p>
							<p>Description : <%= items[i+1].description %></p>
							<p>Price : <%= items[i+1].price %></p>
							<p id ="<%= items[i+1].id %>-seller" style="visibility:hidden;display:inline;"><%= items[i+1].seller %></p>
							</b>
							<p id="<%= items[i+1].id %>-status"></p>
							<%if (items[i+1].visibility == 1) { %>
								<button id = "<%= items[i+1].id %>-add-cart-button" onclick = "addToCart(<%= items[i+1].id %>)">Add To Cart</button>
								<button id = "<%= items[i+1].id %>-delete-cart-button" style = "visibility:hidden;display:inline;" onclick = "deleteFromCart(<%= items[i+1].id %>)">Delete From Cart</button>
							<% } %>
							<%if (items[i+1].visibility == 0) { %>
								<button id = "<%= items[i+1].id %>-add-cart-button" style = "visibility:hidden;display:inline;" onclick = "addToCart(<%= items[i+1].id %>)">Add To Cart</button>
								<button id = "<%= items[i+1].id %>-delete-cart-button" onclick = "deleteFromCart(<%= items[i+1].id %>)">Delete From Cart</button>
							<% } %>
						</section>
						<% } %>
						<%if (items.length > i+2) { %>
						<section class="4u">
							<a href="/items/<%= items[i+2].id %>" class="image feature"><img id="image" src="<%= items[i+2].photo %>" ></a>
							<b>
							<p>Name : <%= items[i+2].name%></p>
							<p>Description : <%= items[i+2].description %></p>
							<p>Price : <%= items[i+2].price %></p>
							<p id ="<%= items[i+2].id %>-seller" style="visibility:hidden;display:inline;"><%= items[i+2].seller %></p>
							</b>
							<p id="<%= items[i+2].id %>-status"></p>
							<%if (items[i+2].visibility == 1) { %>
								<button id = "<%= items[i+2].id %>-add-cart-button" onclick = "addToCart(<%= items[i+2].id %>)">Add To Cart</button>
								<button id = "<%= items[i+2].id %>-delete-cart-button" style = "visibility:hidden;display:inline;" onclick = "deleteFromCart(<%= items[i+2].id %>)">Delete From Cart</button>
							<% } %>
							<%if (items[i+2].visibility == 0) { %>
								<button id = "<%= items[i+2].id %>-add-cart-button" style = "visibility:hidden;display:inline;" onclick = "addToCart(<%= items[i+2].id %>)">Add To Cart</button>
								<button id = "<%= items[i+2].id %>-delete-cart-button" onclick = "deleteFromCart(<%= items[i+2].id %>)">Delete From Cart</button>
							<% } %>
							</section>
						<% } %>
						</div>
				
<% } %>

	<!-- Footer -->
			<div id="footer" style="background-color: #323232;width:100%;height:100%;">
				Footer
			</div>
