<html>
<head>
</head>

<script>
    $(function() {
        $("#myform").on("submit", function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: 'POST',
                data: $(this).serialize(),
                beforeSend: function() {
                    $("#message").html("sending...");
                },
                success: function(data) {
                    document.getElementById("response").style.display = "";
                    $("#message").hide();
                    $("#response").html(data);
                    if(data!="Enter Valid Entries"){
                       document.getElementById("myform").reset();
                    }
                }
            });
        });
    });

    function orderView()
    {
        window.location.href='/orders/';
    }
</script>
<body style="background:#c1bdba">
    <nav>
        <div class="nav-wrapper">
                <img src = "/images/logo.png" style="margin-top: 6px;">
                <a href="/" class="brand-logo">SHOP IT!</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/orders/">Orders</a></li>
                <li><a href="/inventory/">Inventory</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="card hoverable" id ="card_item" style="padding:30px">
            <div class = "row center-align ">
                <h2> Add A New Item to Inventory </h2>
            </div>
            <div id="message"></div>
            <form class="col s12 " id="myform" action="/add_item/">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" name="name" class="validate">
                        <label for="first_name">Item Name</label>
                    </div>
                     <div class="input-field col s6">
                        <input id="photo" type="text" name="photo" class="validate">
                        <label for="photo">Item Photo URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="description" type="text" name="description" class="validate">
                        <label for="description">Description</label>
                    </div>  
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="price" type="number" name="price" class="validate">
                        <label for="price">Price</label>
                    </div>  
                </div>

                <div class="row">
                    <div class="col s6 center-align">
                        <button class="btn waves-effect waves-light z-depth-3" type="submit">
                            Submit
                             <!-- <i class="material-icons right">send</i> -->
                        </button>
                    </div>
                    <div class="col s6 flow-text center-align" >
                        <div id="response" class="chip" style="display:none">
                        </div>   
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="container ">
        <div class = "row center-align ">
                <h2 class="orange-text"> Your Items </h2>
            </div>
    <% for(var i=0; i<items.length; i=i+3) {%> 

          <div class="row">

                <div class="col s12 m4 ">
                    <div class="card medium grey darken-3 center-align margin hoverable valign-wrapper ">
                        <div  class="valign center-block">
                            <div class="row">
                                <img id="image" class="responsive-img col s10 offset-s1" src="<%= items[i].photo %>" ></img>
                                <div class="card-content white-text col s10 offset-s1">
                                    <span class="card-title"><%= items[i].name%></span>
                                    <p class = "light">Description : <%= items[i].description %></p>
                                    <p class = "light">Price : <%= items[i].price %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            <%if (items.length > i+1) { %>
                <div class="col s12 m4 ">
                    <div class="card medium grey darken-3 center-align margin hoverable valign-wrapper ">
                        <div  class="valign center-block">
                            <div class="row">
                                <img id="image" class="responsive-img col s10 offset-s1" src="<%= items[i+1].photo %>" ></img>
                                <div class="card-content white-text col s10 offset-s1">
                                    <span class="card-title"><%= items[i+1].name%></span>
                                    <p class = "light">Description : <%= items[i+1].description %></p>
                                    <p class = "light">Price : <%= items[i+1].price %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

            <%if (items.length > i+2) { %>
                <div class="col s12 m4 ">
                    <div class="card medium grey darken-3 center-align margin hoverable valign-wrapper ">
                        <div  class="valign center-block">
                            <div class="row">
                                <img id="image" class="responsive-img col s10 offset-s1" src="<%= items[i+2].photo %>" ></img>
                                <div class="card-content white-text col s10 offset-s1">
                                    <span class="card-title"><%= items[i+2].name%></span>
                                    <p class = "light">Description : <%= items[i+2].description %></p>
                                    <p class = "light">Price : <%= items[i+2].price %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>



          </div>
    <% } %>
  </div>

</body>
